<?xml version="1.0" encoding="windows-1250"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">
    <display-name>
        Java v praxi, 3.D
        Ukázkové příklady.
    </display-name>
    <servlet>
        <!-- Nastavení jména servletu a cesty k java-třídě s implementovaným
        servletem. -->
        <servlet-name>druhy</servlet-name>
        <servlet-class> CookieServlet_2 </servlet-class>
    </servlet>

    <servlet>
        <servlet-name>treti</servlet-name>
        <servlet-class> CookieServlet_3 </servlet-class>
    </servlet>

    <servlet>
        <servlet-name>prvy</servlet-name>
        <servlet-class>CookieServlet_1 </servlet-class>
    </servlet>
	
    <servlet-mapping>
        <servlet-name>druhy</servlet-name>
        <url-pattern>/druhy</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>treti</servlet-name>
        <url-pattern>/treti</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>prvy</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
</web-app>